import(lars)
export(sisVIVE, cv.sisVIVE, print.sisVIVE, plot.sisVIVE, predict.sisVIVE, summary.sisVIVE)
S3method("print","sisVIVE")
S3method("plot","sisVIVE")
S3method("predict","sisVIVE")
S3method("summary","sisVIVE")
exportPattern("^[[:alpha:]]+")
